extends layout

block title_top
  | Bid / No Bid

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | RFQ Bid

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
      table.table.table-hover.table-striped.table-bordered
        thead
          tr
            th
              | Document Number
            th
              | Version Number
            th
              | Requested Quatation Date
            th
              | Sales Bid/No Bid Details
        tbody
            tr
              td= rfq[0].document_no
              td= rfq[0].version_no
              td= rfq[0].requested_quotation_date
              td= (rfq[0].is_bid == 1)?'Bid':'No Bid : '+ rfq[0].rejection_remarks_name
  .portlet.box.green
    .portlet-title
        .caption
          i.fa.fa-reorder
          | RFQ Questions
        .tools
          a.collapse(href='javascript:;')
    .portlet-body.form
      form#rfq_questions.form-horizontal(action='#')
        .form-body
          - each ques in rfq_questions
            .form-group
              label.col-md-4.control-label= ques.question+'?'
              .col-md-8(style='margin-top:5px;')
                input(type='radio', name="ques_#{ques.id}" value='1', checked='true')
                | &nbsp;Yes&nbsp;&nbsp;&nbsp;
                input(type='radio', name="ques_#{ques.id}" value='0',checked= ques.question_value == 0)
                | &nbsp;No
        .form-actions.fluid
          .col-md-offset-3.col-md-9
            button#save_bid.btn.green(type='button', onclick="save_questions(#{rfq[0].id},1)") Bid
            | &nbsp;&nbsp;
            button#save_nobid.btn.green(type='button', onclick="save_questions(#{rfq[0].id},2)") No Bid
            | &nbsp;&nbsp;
            a.btn.dark(type='button', href="/users/") Cancel