extends layout

block title_top
  | Bid / No Bid

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | RFQ Bid

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
      table.table.tablesorter.table-bordered
        thead
          tr
            th
              | Document Number
            th
              | Customer Name
            th
              | RFQ Date
            th
              | Sales Person
            th
              | Action
        tfoot
          tr
            th
              | Document Number
            th
              | Customer Name
            th
              | RFQ Date
            th
              | Sales Person
            th
              | Action
          tr
            th.ts-pager.form-horizontal(colspan='8')
              button.btn.first(type='button')
                i.icon-step-backward.glyphicon.glyphicon-step-backward
              button.btn.prev(type='button')
                i.icon-arrow-left.glyphicon.glyphicon-backward
              span.pagedisplay
              button.btn.next(type='button')
                i.icon-arrow-right.glyphicon.glyphicon-forward
              button.btn.last(type='button')
                i.icon-step-forward.glyphicon.glyphicon-step-forward
              select.pagesize(title='Select page size')
                option(selected='selected', value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
              select.pagenum(title='Select page number')
        tbody
          - each rfq in rfqs
            tr.full_quote(id = 'tr_#{rfq.id}',rfq-id="#{rfq.id}" )
              td= rfq.document_no
              td= rfq.customer_name
              td= rfq.date_rfq_in
              td= rfq.sales_person_name
              td
                a.btn.green(href='/users/bid/#{rfq.id}')
                  | Proceed
                &nbsp;&nbsp;&nbsp;
                a.btn.yellow(href='javascript:;', id='revert_#{rfq.id}', onclick="revert_to_sales(#{rfq.id})")
                  | Revert to Sales
                &nbsp;&nbsp;&nbsp;
                a.btn.blue(href='javascript:;', id='copy_#{rfq.id}', onclick="copy_rfq(#{rfq.id})")
                  | Copy RFQ
  #basic_quote.modal.fade.bs-modal-lg.in(tabindex='-1', role='basic', aria-hidden='true', style='display: none;')
    .modal-dialog.modal-full
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          h4.modal-title Select Product Design
        .modal-body(style="")
          | Loading...
        .modal-footer
          button.btn.dark#close_btn(type='button', data-dismiss='modal') Close