extends layout

block title_top
  | Design Requests

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Design Requests

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
      table.table.tablesorter.table-bordered
        thead
          tr
            th
              | Document Number
            th
              | Product Line
            th
              | Plant
            th
              | Request Date
            th
              | Study Required By
            th
              | Study Received On
            th
              | Difference (Days)
            th
              | Action
        tfoot
          tr
            th
              | Document Number
            th
              | Product Line
            th
              | Plant
            th
              | Request Date
            th
              | Study Required By
            th
              | Study Received On
            th
              | Difference (Days)
            th
              | Action
          tr
            th.ts-pager.form-horizontal(colspan='8')
              button.btn.first(type='button')
                i.icon-step-backward.glyphicon.glyphicon-step-backward
              button.btn.prev(type='button')
                i.icon-arrow-left.glyphicon.glyphicon-backward
              span.pagedisplay
              button.btn.next(type='button')
                i.icon-arrow-right.glyphicon.glyphicon-forward
              button.btn.last(type='button')
                i.icon-step-forward.glyphicon.glyphicon-step-forward
              select.pagesize(title='Select page size')
                option(selected='selected', value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
              select.pagenum(title='Select page number')
        tbody
          - each rfq_line in rfq_lines
            tr.full_quote(id = 'tr_#{rfq_line.id}',rfq-id="#{rfq_line.rfq_id}" )
              td= rfq_line.document_no
              td= rfq_line.product_line
              td= rfq_line.plant_name
              td= rfq_line.design_request_date
              td= rfq_line.design_require_date
              td= rfq_line.design_submit_date
              td= rfq_line.time_diff
              td
                .input-group(id="rfq_input_#{rfq_line.id}", class=(rfq_line.design_submit_date == '')?'':'hidden')
                  input.form-control.form-control-inline.input-medium.date-picker(size='8', type='text',id="date_rfq_#{rfq_line.id}", placeholder="Study Received On")
                  span.input-group-btn(style="display:inline")
                    button.btn.blue.btn-default(id="save_#{rfq_line.id}", onclick="save_design_submit(#{rfq_line.id})")
                      | Save
                button.btn.yellow.btn-default(id="reset_#{rfq_line.id}", onclick="reset_design_submit(#{rfq_line.id})", class=(rfq_line.design_submit_date != '')?'':'hidden')
                      | Reset
  #basic_quote.modal.fade.bs-modal-lg.in(tabindex='-1', role='basic', aria-hidden='true', style='display: none;')
    .modal-dialog.modal-full
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          h4.modal-title Select Product Design
        .modal-body(style="")
          | Loading...
        .modal-footer
          button.btn.dark#close_btn(type='button', data-dismiss='modal') Close