form#rfq_line_edit_form.form-horizontal(action='#')
  .form-group
    label.control-label.col-md-3
      | Product Line
    .col-md-4
      select#product_lines_id_pop.form-control(name='product_lines_id', onchange='fetch_plants_properties_pop()')
        option
          | Select Product Line
          - each line in product_lines
            option(value="#{line.id}",selected=rfq_lines[0].product_lines_id == line.id)= line.name
      span.help-block
  .form-group
    label.control-label.col-md-3
      | Production Plant
    .col-md-4
      select#plants_id_pop.form-control(name='plants_id',onchange="validate_number('plants_id_pop','Please select valid Production plant')")
        option(value='0')
          | Select Production Plants
          - each plant in production_plants
            option(value="#{plant.id}",selected=rfq_lines[0].plants_id == plant.id)= plant.name
      span.help-block
  .form-group
    label.control-label.col-md-3
      | Number of Units
    .col-md-4
      input#number_of_units_pop.form-control(name='number_of_units', onkeyup="validate_number('number_of_units_pop','Please input number of units')",value='#{rfq_lines[0].number_of_units}')
      span.help-blocks
  .form-group
    label.control-label.col-md-3
      | Requested delivery date
    .col-md-4
      input.form-control.form-control-inline.input-medium.date-picker(size='16', type='text', value='',name="delivery_date",id="delivery_date_pop", onchange="validate_date('delivery_date_pop','Please select valid Date')",value='#{rfq_lines[0].req_delivery_date}')
      input(type='hidden', value='#{option_string}',id='props_def_pop')
      input(type='hidden', value='#{rfq_lines[0].id}',name='rfq_lines_id')
      input(type='hidden', value='#{rfq_lines[0].rfq_id}',name='rfq_id')
      input(type='hidden', value='#{mandatory_properties}',id='man_table_body_pop')

      span.help-block
  h4
    | Technical Specifications
  .row
    .col-md-12
      table.table.table-hover.table-striped.table-bordered
        thead
          tr
            th
              | Product Property
            th
              | Unit
            th
              | Value
            th
              | Remark
            th 
              | Action
        tbody#table_body_pop
          -each spec in technical_specifications
            tr
              td
                select.props#product_properties_id.form-control(name='product_properties_id[]')
                  option(value='0')
                    | Select Property
                  - each prop in product_properties
                    option(value='#{prop.id}',selected=spec.product_properties_id == prop.id)= prop.property_name
              td= spec.unit_of_measurement
              td
                input#value.form-control.value_in(name='value[]', value='#{spec.value}')
              td
                input#remark.form-control(name='remark[]', value='#{spec.remark}')
              td
                a.btn.dark.icn-only.remove_prop(href="javascript:;")
                  i.fa.fa-times
    input(name='dummy',type='hidden',value='0') 
    .row
      .com-md-12
        a.btn.purple(href="javascript:;",style="margin-left:30px;",onclick="add_more_line_items('table_body_pop')")
          | Add More Properties
        a.btn.green.pull-right#btn-update(href="javascript:;",style="margin-right:30px;",onclick="update_line_items(#{rfq_lines[0].id})")
          | Save Changes