extends layout

block title_top
  | Finalize RFQ

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Partial RFQs

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
      table.table.tablesorter.table-bordered
        thead
          tr
            th
              | Customer
            th
              | Customer Country
            th
              | Installation Country
            th
              | RFQ Date
            th
              | Sales Agent
            th
              | Action
        tfoot
          tr
            th
              | Customer
            th
              | Customer Country
            th
              | Installation Country
            th
              | RFQ Date
            th
              | Sales Agent
            th
              | Action
          tr
            th.ts-pager.form-horizontal(colspan='8')
              button.btn.first(type='button')
                i.icon-step-backward.glyphicon.glyphicon-step-backward
              button.btn.prev(type='button')
                i.icon-arrow-left.glyphicon.glyphicon-backward
              span.pagedisplay
              button.btn.next(type='button')
                i.icon-arrow-right.glyphicon.glyphicon-forward
              button.btn.last(type='button')
                i.icon-step-forward.glyphicon.glyphicon-step-forward
              select.pagesize(title='Select page size')
                option(selected='selected', value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
              select.pagenum(title='Select page number')
        tbody
          - each rfq in partial_rfq
            tr
              td= rfq.customer_name
              td= rfq.customer_country
              td= rfq.installation_country
              td= rfq.date_rfq_in
              td= rfq.name
              td
                a.btn.green(href='/users/finalize/#{rfq.id}')
                  | Finalize