extends layout

block title_top
  | Follow-Up Quotes

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Follow-Up Quotes

block title_left
  a.btn.blue.pull-right.col-md-4(href="#basic_quote", data-toggle="modal", onclick="view_quote(#{rfq[0].id})") View Full Quote

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-6
      table.table.table-bordered
        tr
          th Document Number
          td= rfq[0].document_no
        tr
          th Version Number
          td= rfq[0].version_no
        tr
          th Creation Date
          td= rfq[0].quote_creation_date
  .row  
    .col-md-12
      .portlet.box.grey
        .portlet-title
          .caption
            i.fa.fa-reorder
            | Finalize Quote
        .portlet-body
          form#quote_finalize.form-horizontal(action='#')
            .form-group
              label.control-label.col-md-4
                | Minimum Sales Price
              .col-md-4
                p.form-control-static= rfq[0].minimum_sales_price
            .form-group
              label.control-label.col-md-4
                | Estimated Sales Price
              .col-md-4
                p.form-control-static= rfq[0].estimated_sales_price
            .form-group
              label.control-label.col-md-4
                | Sales Price
                span.required *
              .col-md-4
                input#sales_price.form-control(type="text",name="sales_price",onkeyup="validate_number('sales_price','Please put valid price')", value="#{rfq[0].sales_price}")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Validity Date
                span.required *
              .col-md-4
                input#quote_validity_date.form-control.date-picker(type="text",name="quote_validity_date",onchange="validate_date('quote_validity_date','Please select valid Date')", value="#{rfq[0].quote_validity_date}")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Submission Date
                span.required *
              .col-md-4
                p.form-control-static= rfq[0].quote_submission_date
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Probability
                span.required *
              .col-md-4
                select#probability.form-control(name='probability',onchange="check_for_lost()")
                  - each prob in probabilities
                    option(value="#{prob.id}",selected=prob.id == rfq[0].probability_id)= prob.name
                span.help-block
            .form-group#won_gross_sale_div(style=(rfq[0].probability_id == 1 || rfq[0].probability_id == 6 )?'':'display:none')
              label.control-label.col-md-4
                | Negotiated Gross Sales
                span.required *
              .col-md-4
                input#won_gross_sale.form-control(name='won_gross_sale',onchange="validate_number('won_gross_sale','Please input a valid number')",value="#{rfq[0].won_gross_sale}")
                span.help-block
            .form-group#rejection_remarks_div(style=(rfq[0].probability_id == 6)?'':'display:none')
              label.control-label.col-md-4
                | Select Rejection Remark
                span.required *
              .col-md-4
                select#rejection_remarks_id.form-control(name='rejection_remarks_id',onchange="validate_number('rejection_remarks_id','Please select a valid remark')")
                  option(value="0") Select
                  - each remark in rejection_remarks
                    option(value="#{remark.id}")= remark.description
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Next Action
                span.required *
              .col-md-4
                 input#next_action.form-control(name='next_action',onkeyup="validate_entry('next_action','Please input valid action')",value="#{rfq[0].next_action}")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | By When
                span.required *
              .col-md-4
                input#by_when.form-control.date-picker(type="text",name="by_when",onchange="validate_date('by_when','Please select valid Date')", value="#{rfq[0].by_when}")
                span.help-block
            .form-group
              .col-md-12(style="text-align:center")
                a.btn.green#follow_up(href='javascript:;', onclick="follow_up(1,#{rfq[0].id})")
                  | Follow Up
                &nbsp;&nbsp;
                a.btn.blue#extend_btn(href='javascript:;', onclick="extend_validity(#{rfq[0].id})")
                  | Extend Validity Period
                &nbsp;&nbsp;
                a.btn.red#close_document_follow_up(href='javascript:;', onclick="follow_up(2,#{rfq[0].id})")
                  | Close Document
                &nbsp;&nbsp;
                a.btn.yellow#on_hold(href='javascript:;', onclick="mark_hold(#{rfq[0].id},9)")
                  | Put on Hold
                &nbsp;&nbsp;
                a.btn.purple#mark_obsolete(href='javascript:;', onclick="mark_obsolete(#{rfq[0].id},8)")
                  | Mark Obsolete
                &nbsp;&nbsp;
                a.btn.dark(href='/users/follow_up')
                  | Cancel
  #basic_quote.modal.fade.bs-modal-lg.in(tabindex='-1', role='basic', aria-hidden='true', style='display: none;')
    .modal-dialog.modal-full
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          h4.modal-title Select Product Design
        .modal-body(style="")
          | Loading...
        .modal-footer
          button.btn.dark#close_btn(type='button', data-dismiss='modal') Close