extends layout

block title_top
  | RFQ Line Items

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | RFQ Line Items

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
        #form_wizard_1
          .portlet-body.form
            form#rfq_line_form.form-horizontal(action='#')
              .form-wizard
                .form-body
                  ul.nav.nav-pills.nav-justified.steps
                    li
                      a.step(href='/users/rfq_general_data/'+selected_rfq[0].id)
                        span.number
                          | 1
                        span.desc
                          i.fa.fa-check
                          | Regional & General Data
                    li
                      a.step(href='/users/rfq_product_data/'+selected_rfq[0].id)
                        span.number
                          | 2
                        span.desc
                          i.fa.fa-check
                          | General Product Data
                    li
                      a.step.active(href='/users/rfq_line_items/'+selected_rfq[0].id)
                        span.number(style='background: #35aa47; color: #fff;')
                          | 3
                        span.desc
                          i.fa.fa-check
                          | RFQ Line Items
                  #bar.progress.progress-striped(role='progressbar')
                    .progress-bar.progress-bar-success(style='width: 100%;')
                  - if (selected_rfq_lines_items.length > 0)
                    .row
                      .col-md-12
                        table.table.table-hover.table-striped.table-bordered
                          thead
                            tr
                              th
                                | Product Line
                              th
                                | Production Plant
                              th
                                | Number of Units
                              th
                                | Requested Delivery Date
                              th
                                | Action
                          tbody
                            - each line_items in selected_rfq_lines_items
                              tr(id='row_line_item_' +line_items.id)
                                td= line_items.product_lines_name
                                td= line_items.plant_name
                                td= line_items.number_of_units
                                td= line_items.req_delivery_date
                                td(id='line_item_' +line_items.id)
                                  a.btn.blue(href="#basic",data-toggle="modal",onclick="edit_line_item(#{selected_rfq[0].id},#{line_items.id})")
                                    | Edit
                                  &nbsp;&nbsp;
                                  a.btn.dark(href="javascript:;", onclick="delete_line_item(#{line_items.id})")
                                    | Delete
                  .portlet.box.grey
                    .portlet-title
                        .caption
                          i.fa.fa-reorder
                          | Add New Line Item
                      .portlet-body
                        .form-group
                          label.control-label.col-md-3
                            | Product Line
                          .col-md-4
                            select#product_lines_id.form-control(name='product_lines_id', onchange='fetch_plants_properties()')
                              option
                                | Select Product Line
                              - each lines in product_lines
                                option(value="#{lines.id}")= lines.name
                            span.help-block
                        .form-group
                          label.control-label.col-md-3
                            | Production Plant
                          .col-md-4
                            select#plants_id.form-control(name='plants_id',onchange="validate_number('plants_id','Please select valid Production plant')")
                              option(value='0')
                                | Select Production Plants
                            span.help-block
                        .form-group
                          label.control-label.col-md-3
                            | Number of Units
                          .col-md-4
                            input#number_of_units.form-control(name='number_of_units', onkeyup="validate_number('number_of_units','Please input number of units')")
                            span.help-blocks
                        .form-group
                          label.control-label.col-md-3
                            | Requested delivery date
                          .col-md-4
                            input.form-control.form-control-inline.input-medium.date-picker(size='16', type='text', value='',name="delivery_date",id="delivery_date", onchange="validate_date('delivery_date','Please select valid Date')")
                            span.help-block
                            input(type='hidden', value='#{selected_rfq[0].rfq_status_id}',id='rfq_stat')
                            input(type='hidden', value='',id='props_def')
                        h4
                          | Technical Specifications
                        .row
                          .col-md-12
                            table.table.table-hover.table-striped.table-bordered
                              thead
                                tr
                                  th
                                    | Product Property
                                  th
                                    | Value
                                  th
                                    | Remark
                              tbody#table_body
                                tr
                                  td
                                    select.props#product_properties_id.form-control(name='product_properties_id[]')
                                  td
                                    input#value.form-control(name='value[]')
                                  td
                                    input#remark.form-control(name='remark[]')
                                 tr
                                  td
                                    select.props#product_properties_id.form-control(name='product_properties_id[]')
                                  td
                                    input#value.form-control(name='value[]')
                                  td
                                    input#remark.form-control(name='remark[]')
                          .row
                            .com-md-12
                              a.btn.blue(href="javascript:;",style="margin-left:30px;",onclick="add_more_line_items()")
                                | Add More Properties
                  .form-actions.fluid
                    .row
                      .col-md-12
                        .col-md-offset-3.col-md-9
                          a#btn_save.btn.blue.button-save(href='javascript:;', onclick="rfq_line_save(1,#{selected_rfq[0].id})")
                            | Save For Now
                          &nbsp;&nbsp;&nbsp;
                          a#btn_add_more.btn.blue.button-add_more(href='javascript:;', onclick="rfq_line_save(2,#{selected_rfq[0].id})")
                            | Save &amp; Add More Line Items
                          &nbsp;&nbsp;&nbsp;
                          a.btn.dark.button-complete(href='/users/')
                            | Fill Later
                          &nbsp;&nbsp;&nbsp; 
                          a#btn_complete.btn.green.button-complete(href='javascript:;', onclick="rfq_complete(#{selected_rfq[0].id})")
                            | Complete RFQ
  #basic.modal.fade.bs-modal-lg.in(tabindex='-1', role='basic', aria-hidden='true', style='display: none;')
    .modal-dialog.modal-full
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          h4.modal-title Edit Line Item
        .modal-body(style="")
          | Loading...
        .modal-footer
          button.btn.default(type='button', data-dismiss='modal') Close

