script(src='/assets/plugins/jquery-1.10.2.min.js', type='text/javascript')
script(src='/assets/scripts/custom/minimum_price.js', type='text/javascript')
a.btn.default= 'Number of Transformers: '+ trans_num
a.btn.default= 'Complexity: '+ complexities[0].name
br
br
input.form-control#trans_numbers(name="trans_numbers", readonly, style="display:none", value="#{trans_num}")
form#minimum_price_form.form-horizontal(action='#')
  .portlet.blue.box
    .portlet-title
      .caption DCP
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#dcp(readonly, name="dcp", value="")
    .portlet-body#dcp_body
      input(type="hidden",name="complexities_id", value='#{complexities[0].id}', readonly)
      table.table.table-hover.table-striped.table-bordered
        tr
          td Material Cost
          td (#{initial_cost_data.currency})
          td
            input.count_change.form-control#material_cost(name="material_cost", value='#{initial_cost_data.material_cost}', readonly)
        tr
          td Labour Cost
          td (#{initial_cost_data.currency})
          td
            input.count_change.form-control#labor_cost(name="labor_cost",value="#{initial_cost_data.labor_cost}", readonly)
        tr  
          td Labour Hours
          td (hrs)
          td
            input.form-control#labor_hours(name="labor_hours",value="#{initial_cost_data.labor_hours}",readonly)
         tr 
          td Extra Engineering Hours
          td (hrs)
          td
            - if(spec[0].extra_engineering_cost)
              - var extra_e_cost = spec[0].extra_engineering_cost
              - var extra_e_hours = spec[0].extra_engineering_hours
            - else
              - var extra_e_cost = 0
              - var extra_e_hours = 0
            input.form-control#extra_engineering_hours(value='#{extra_e_hours}',name='extra_engineering_hours')
            input.count_change.form-control#extra_engineering_cost(name="extra_engineering_cost",style="display:none",readonly,value='#{extra_e_cost}')
            input.form-control#engineering_cost_hrs(style="display:none",readonly, value='#{overheads["engineering_cost"]}')
        tr 
          td ACC Cost
          td (#{initial_cost_data.currency})
          td
            input.form-control#acc_cost(name="acc",readonly, value= (spec[0].acc?spec[0].acc:''))
        tr  
          td ACC Factor
          td (#{initial_cost_data.currency})
          td
            input.form-control#acc_factor(name="acc_factor",value= (spec[0].acc_factor?spec[0].acc_factor:'1'))
  .portlet.blue.box
    .portlet-title
      .caption PACKAGING
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#packaging(readonly, name="packaging", value= (spec[0].packaging?spec[0].packaging:''))
    .portlet-body#packaging_body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Cost Packaging 
          td (#{initial_cost_data.currency})
          td
            select.form-control#cost_packaging(name="cost_packaging")
              option(value="1",selected=spec[0].cost_packaging == 1) Included in DCP
              option(value="2",selected=spec[0].cost_packaging == 2) By Tendering
        tr
          td Packaging Cost Transformer
          td (#{initial_cost_data.currency})
          td
            input.form-control#packaging_cost_transformer(name="packaging_cost_transformer",value= (spec[0].packaging_cost_transformer?spec[0].packaging_cost_transformer:''))
        tr  
          td Extra Packaging Costs Build of Parts
          td (#{initial_cost_data.currency})
          td
            input.form-control#extra_packaging_costs_build_of_parts(name="extra_packaging_costs_build_of_parts", value= (spec[0].extra_packaging_costs_build_of_parts?spec[0].extra_packaging_costs_build_of_parts:''))

  - var engineering_overheads = parseFloat(overheads["engineering_overheads"])/100
  - //var engineering_overheads =20
  - var initial_engineering_overheads = Math.round(engineering_overheads*initial_dcp/trans_num)
  - var plant_overheads = parseFloat(overheads["plant_overheads"])/100
  - var initial_plant_overheads = Math.round(plant_overheads*initial_dcp)
  - var site_overheads = parseFloat(overheads["site_overheads"])/100
  - var initial_site_overheads = Math.round(site_overheads*initial_dcp)
  - var regional_overheads = parseFloat(overheads["regional_overheads"])/100
  - var initial_regional_overheads = Math.round(regional_overheads*initial_dcp)
  - var productline_overheads = parseFloat(overheads["productline_overheads"])/100
  - var initial_productline_overheads = Math.round(productline_overheads*initial_dcp)
  - var corporate_overheads = parseFloat(overheads["corporate_overheads"])/100
  - var initial_corporate_overheads = Math.round(corporate_overheads*initial_dcp)
  - var depreciation = parseFloat(overheads["depreciation"])/100
  - var initial_depreciation = Math.round(depreciation*initial_dcp)
  - var initial_overheads =parseFloat(engineering_overheads )+ parseFloat(initial_engineering_overheads)+ parseFloat(plant_overheads)+ parseFloat(initial_plant_overheads)+ parseFloat(site_overheads)+ parseFloat(initial_site_overheads)+ parseFloat(regional_overheads)+ parseFloat(initial_regional_overheads)+ parseFloat(productline_overheads)+ parseFloat(initial_productline_overheads)+ parseFloat(corporate_overheads)+ parseFloat(initial_corporate_overheads )+ parseFloat(initial_depreciation)
  - var initial_overheads = Math.round(initial_overheads)
  .portlet.blue.box
    .portlet-title
      .caption OVERHEADS
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#overheads(readonly, name="overheads", value="#{initial_overheads}")
    .portlet-body#overheads_body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Engineering Overheads
          td= overheads["engineering_overheads"] +'%'
            input.overhead(value='#{engineering_overheads}', style="display:none")
          td
            input.form-control#engineering_overheads(name="engineering_overheads", value='#{initial_engineering_overheads}' ,readonly)
        tr
          td Plant Overheads
          td= overheads["plant_overheads"] +'%'
            input.overhead(value='#{plant_overheads}', style="display:none")
          td
            input.form-control#plant_overheads(name="plant_overheads" , value='#{initial_plant_overheads}',readonly)
        tr  
          td Site Overheads
          td= overheads["site_overheads"] +'%'
            input.overhead(value='#{site_overheads}', style="display:none")
          td
            input.form-control#site_overheads(name="site_overheads" , value='#{initial_site_overheads}',readonly)
         tr 
          td Regional Overheads
          td= overheads["regional_overheads"] +'%'
            input.overhead(value='#{regional_overheads}', style="display:none")
          td
            input.form-control#regional_overheads(name="regional_overheads" , value='#{initial_regional_overheads}',readonly)
        tr 
          td Product Line Overheads
          td= overheads["productline_overheads"] +'%'
            input.overhead(value='#{productline_overheads}', style="display:none")
          td
            input.form-control#product_line_overheads(name="product_line_overheads" , value='#{initial_productline_overheads}',readonly)
        tr  
          td Corporate Overheads
          td= overheads["corporate_overheads"] +'%'
            input.overhead(value='#{corporate_overheads}', style="display:none")
          td
            input.form-control#corporate_overheads(name="corporate_overheads" , value='#{initial_corporate_overheads}',readonly)
        tr  
          td Depreciation
          td= overheads["depreciation"] +'%'
            input.overhead(value='#{depreciation}', style="display:none")
          td
            input.form-control#depreciation(name="depreciation", value='#{initial_depreciation}',readonly)
 
  .portlet.blue.box
    .portlet-title
      .caption TRANSPORT
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#transport(readonly, name="transport",value= (spec[0].transport?spec[0].transport:''))
    .portlet-body#transport_body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Freight-F term 
          td (#{initial_cost_data.currency})
          td
            input.form-control#frieght_f_term(name="frieght_f_term", value= (spec[0].frieght_f_term?spec[0].frieght_f_term:''))
        tr
          td Freight-C term
          td (#{initial_cost_data.currency})
          td
            input.form-control#frieght_c_term(name="friegth_c_term", value= (spec[0].friegth_c_term?spec[0].friegth_c_term:''))
        tr  
          td Freight-D term
          td (#{initial_cost_data.currency})
          td
            input.form-control#frieght_d_term(name="friegth_d_term", value= (spec[0].friegth_d_term?spec[0].friegth_d_term:''))

  .portlet.blue.box
    .portlet-title
      .caption EXTRA COSTS
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#extra_cost(readonly, name="extra_cost", value= (spec[0].extra_cost?spec[0].extra_cost:''))
    .portlet-body#extra_cost_body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Financial Cost LOC
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#financial_cost_loc(name="financial_cost_loc", value= (spec[0].financial_cost_loc?spec[0].financial_cost_loc:''))
        tr
          td Financial Cost Bonds
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#financial_cost_bonds(name="financial_cost_bonds", value= (spec[0].financial_cost_bonds?spec[0].financial_cost_bonds:''))
        tr  
          td Maintenance Equipment
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#maintenance_equipment(name="maintenance_equipment", value= (spec[0].maintenance_equipment?spec[0].maintenance_equipment:''))
         tr 
          td Administrative Cost Various
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#administrative_cost_various(name="administrative_cost_various", value= (spec[0].administrative_cost_various?spec[0].administrative_cost_various:''))
        tr 
          td Extra Documentation Required
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#extra_documentation_required(name="extra_documentation_required", value= (spec[0].extra_documentation_required?spec[0].extra_documentation_required:''))
        tr  
          td Supervision
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#supervision(name="supervision", value= (spec[0].supervision?spec[0].supervision:''))
        tr  
          td Erection/Comm
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#erection_comm(name="erection_comm", value= (spec[0].erection_comm?spec[0].erection_comm:''))
        tr  
          td Factory Training
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#factory_training(name="factory_training", value= (spec[0].factory_training?spec[0].factory_training:''))
        tr  
          td Onsite Training
          td (#{initial_cost_data.currency})
          td
            input.form-control.count_change#onsite_training(name="onsite_training", value= (spec[0].onsite_training?spec[0].onsite_training:''))
            input.form-control.count_change#extra_cost_with_percent(value='0',style='display:none')
        tr  
          td Warranty On Full Cost
          td (%)
          td
            input.form-control#warranty_on_full_cost(name="warranty_on_full_cost", value= (spec[0].warranty_on_full_cost?spec[0].warranty_on_full_cost:''))

  .portlet.blue.box
    .portlet-title
      .caption FULL COST EXCLUDING COMMISION
      .tools.pull-right
        a.collapse
    .portlet-body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Full Cost Excluding Commision
          td (#{initial_cost_data.currency})
          td
            input.form-control#full_cost_excluding_commision(name="full_cost_excluding_commision",readonly)
        tr
          td EBIT percentage
          td (%)
          td
            input.form-control#ebit_percentage(name="ebit_percentage", value= (spec[0].ebit_percentage?spec[0].ebit_percentage:''))
        tr  
          td EBIT
          td (#{initial_cost_data.currency})
          td
            input.form-control#ebit(name="ebit",readonly)

  .portlet.blue.box
    .portlet-title
      .caption COMMISSION
      .tools.pull-right
        a.collapse
      input.pull-right.caption-input#commission(readonly, name="commission")
    .portlet-body
      table.table.table-hover.table-striped.table-bordered
        tr
          td Commission on net sales price 
          td (%)
          td
            input.form-control#commission_on_net_sales_price(name="commission_on_net_sales_price", value= (spec[0].commission_on_net_sales_price?spec[0].commission_on_net_sales_price:''))
            input.form-control#commission_on_net_sales_price_value(style='display:none')
        tr
          td Commission on F-term 
          td (%)
          td
            input.form-control#commission_on_f_term(name="commission_on_f_term", value= (spec[0].commission_on_f_term?spec[0].commission_on_f_term:''))
            input.form-control#commission_on_f_term_value(style='display:none')
        tr  
          td Commission on gross sales
          td (%)
          td
            input.form-control#commission_on_gross_sales(name="commission_on_gross_sales", value= (spec[0].commission_on_gross_sales?spec[0].commission_on_gross_sales:''))
            input.form-control#commission_on_gross_sales_value(style='display:none')

  table.table.table-hover.table-striped.table-bordered
    tr
      td MINIMUM INTERCOMPANY SALES
      td (#{initial_cost_data.currency})
      td
        input.caption-input.form-control#minimum_intercompany_sales(name="minimum_intercompany_sales",readonly)
    tr  
      td MINIMUM SALES PRICE TO CUSTOMER
      td (#{initial_cost_data.currency})
      td
        input.caption-input.form-control#minimum_sales_price_to_customer(name="minimum_sales_price_to_customer",readonly)