extends layout

block title_top
  | Regional &amp; General Data

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Regional &amp; General Data

block hint
  | 
block doc_ready
  script.
    $(document).ready(function(){
    $('#customers_id').select2();
    });

block page_content
  .row
    .col-md-12
        #form_wizard_1
          .portlet-body.form
            form#rfq_gen_form.form-horizontal(action='#')
              .form-wizard
                .form-body
                  ul.nav.nav-pills.nav-justified.steps
                    li
                      - if (selected_rfq[0].id)
                          a.step(href='/users/rfq_product_data/'+ selected_rfq[0].id)
                            span.number(style='background: #35aa47; color: #fff;')
                              | 1
                            span.desc
                              i.fa.fa-check
                              | Regional &amp; General Data
                        else
                          a.step(href='javascript:;')
                            span.number(style='background: #35aa47; color: #fff;')
                              | 1
                            span.desc
                              i.fa.fa-check
                              | Regional &amp; General Data
                    li
                      - if (flag_product)
                          a.step(href='/users/rfq_product_data/'+selected_rfq[0].id)
                            span.number
                              | 2
                            span.desc
                              i.fa.fa-check
                              | General Product Data
                        else
                          a.step(href='javascript:;')
                            span.number
                              | 2
                            span.desc
                              i.fa.fa-check
                              | General Product Data
                    li
                      - if (flag_line)
                          a.step(href='/users/rfq_line_items/'+selected_rfq[0].id)
                            span.number
                                | 3
                              span.desc
                                i.fa.fa-check
                                | RFQ Line Items
                        else
                          a.step(href='javascript:;')
                            span.number
                              | 3
                            span.desc
                              i.fa.fa-check
                              | RFQ Line Items
                  #bar.progress.progress-striped(role='progressbar')
                    .progress-bar.progress-bar-success(style='width: 33%;')
                  .tab-content
                    #tab1.tab-pane.active
                      .form-group
                        label.control-label.col-md-3
                          | Product Line
                          span.required *
                        .col-md-4
                          select#product_lines_id.form-control(name='product_lines_id',onchange="validate_number('product_lines_id','Please select valid Product Line')")
                            option(value='0')
                              | Select Product Line
                            - each lines in product_lines
                              option(value="#{lines.id}",selected=lines.id==selected_rfq[0].product_lines_id)= lines.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Sub-Region
                          span.required *
                          </span>
                        .col-md-4
                          select#sales_hub_id.form-control(name='sales_hub_id', onchange='fetch_sales_persons()')
                            option(value='0')
                              | Select Sub-Region
                            - each hub in sales_hubs
                              option(value="#{hub.id}",selected=hub.id == selected_rfq[0].sales_hub_id)= hub.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Sales Person
                          span.required *
                        .col-md-4
                          select#sales_person_id.form-control(name='sales_person_id',, onchange="validate_number('sales_person_id','Please select valid Customer')")
                            option(value='0')
                              | Select Sales Person
                            - each person in sales_persons
                              option(value="#{person.id}",selected=person.id == selected_rfq[0].sales_person_id)= person.user_name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Customer Country
                          span.required *
                        .col-md-4
                          select#customer_country.form-control(name='customer_country', onchange='fetch_sales_agents()')
                            option(value='0')
                              | Select Customer Country
                            - each cust_cont in countries
                              option(value="#{cust_cont.id}",selected=cust_cont.id == selected_rfq[0].customer_country)= cust_cont.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Installation Country
                        .col-md-4
                          select#installation_country.form-control(name='installation_country')
                            option(value='0')
                              | Select Installation Country
                            - each inst_cont in countries
                              option(value="#{inst_cont.id}",selected=inst_cont.id == selected_rfq[0].installation_country)= inst_cont.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Customer
                          span.required *
                        .col-md-4
                          select#customers_id.form-control(name='customers_id')
                            option(value='0')
                              | Select Customer
                            - each customer in customers
                              option(value="#{customer.id}",selected=customer.id == selected_rfq[0].customers_id)= customer.name
                          span.help-block
                        .col-md-4
                          a.btn.default(href="#basic", data-toggle="modal")
                           | Add New Customer
                      .form-group
                        label.control-label.col-md-3
                          | Customer Reference
                        .col-md-4
                          input#customer_reference.form-control(type='text', placeholder='Customer Reference', name='customer_reference', value= selected_rfq[0].customer_reference)
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Type of quote
                          span.required *
                        .col-md-4
                          select#type_of_quote_id.form-control(name='type_of_quote_id',onchange="validate_number('type_of_quote_id','Please select valid Quote')")
                           option(value='0')
                            | Select Quote
                           - each quote in type_of_quote
                              option(value="#{quote.id}",selected=quote.id == selected_rfq[0].type_of_quote_id)= quote.description
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Project
                        .col-md-4
                          input#project_name.form-control(type='text', placeholder='Project Name', name='project_name', value= selected_rfq[0].project_name)
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Date RFQ
                          span.required *
                        .col-md-4
                          input.form-control.form-control-inline.input-medium.date-picker(size='16', type='text', value='',name="date_rfq",id="date_rfq",onchange="validate_date('date_rfq','Please select valid Date')", value=selected_rfq[0].date_rfq_in)
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Sales Segment
                          span.required *
                        .col-md-4
                          select#sales_segments_id.form-control(name='sales_segments_id',onchange="validate_number('sales_segments_id','Please select valid Sales Segment')")
                            option(value='0')
                              | Select Sales Segment
                            - each segment in sales_segments
                              option(value="#{segment.id}", selected=segment.id == selected_rfq[0].sales_segments_id)= segment.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Sales Agent
                        .col-md-4
                          select#sales_agent.form-control(name='sales_agents_id')
                            option(value='0')
                              | Select Sales Agent
                              - each agent in sales_agents
                                option(value="#{agent.id}",selected=agent.id == selected_rfq[0].sales_agents_id)= agent.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Requested Quotation Date
                        .col-md-4
                          input.form-control.form-control-inline.input-medium.date-picker(size='16', type='text', value='', name="requested_quotation",id="requested_quotation",value=selected_rfq[0].requested_quotation_date)
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Probability
                          span.required *
                        .col-md-4
                          select#probability.form-control(name='probability',onchange="validate_number('probability','Please select valid Probability')")
                            - each prob in probabilities
                              option(value="#{prob.id}",selected=prob.id == selected_rfq[0].probability_id)= prob.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Channel to Market
                          span.required
                        .col-md-4
                          select#channel_to_market_id.form-control(name='channel_to_market_id')
                            option(value='0') Select Channel
                            - each channel in channel_to_market
                              option(value="#{channel.id}",selected=channel.id == selected_rfq[0].channel_to_market_id)= channel.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Strategic Quote
                          span.required *
                        .col-md-4(style="margin-top:5px;")
                          input(type='radio',value='1', checked, name='strategic_quote')
                          | &nbsp;Yes&nbsp;&nbsp;&nbsp;
                          input(type='radio',value='0',name='strategic_quote', checked=selected_rfq[0].strategic_quote == 0)
                          | &nbsp;No
                          input(type='hidden', value='#{selected_rfq[0].rfq_status_id}',id='rfq_stat')
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Bid / No Bid
                          span.required
                        .col-md-4(style="margin-top:5px;")
                          input(type='radio',value='1', checked, name='is_bid')
                          | &nbsp;Bid&nbsp;&nbsp;&nbsp;
                          input(type='radio',value='0',name='is_bid', checked=selected_rfq[0].is_bid == 0)
                          | &nbsp;No Bid
                          input(type='hidden', value='#{selected_rfq[0].rfq_status_id}',id='rfq_stat')
                          span.help-block
                      .form-group#remark(style=(selected_rfq[0].is_bid == 0)?'':'display:none')
                        label.control-label.col-md-3
                          | Rejection Remark
                          span.required
                        .col-md-4
                          select#sales_rejection_remarks_id.form-control(name='sales_rejection_remarks_id')
                            option(value='0') Select Remark
                            - each remark in rejection_remarks
                              option(value="#{remark.id}",selected=remark.id == selected_rfq[0].sales_rejection_remarks_id)= remark.description
                          span.help-block
                .form-actions.fluid
                  .row
                    .col-md-12
                      .col-md-offset-3.col-md-9
                        a#btn_save.btn.blue.button-next(href='javascript:;', onclick="rfq_gen_save(1,#{selected_rfq[0].id})")
                          | Save for now
                        &nbsp;&nbsp;
                        a#btn_next.btn.green.button-submit(href='javascript:;', onclick="rfq_gen_save(2,#{selected_rfq[0].id})")
                          | Save &amp; Next 
                          i.m-icon-swapright.m-icon-white
                         &nbsp;&nbsp;
                        a.btn.dark.button-submit(href="/users/")
                          | Cancel
    #basic.modal.fade.bs-modal-lg.in(tabindex='-1', role='basic', aria-hidden='true', style='display: none;')
      .modal-dialog.modal-full
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title Add New Customer
          .modal-body(style="")
            form#customer_form.form-horizontal(action='#')
              .form-group
                label.control-label.col-md-4
                  | Customer Name
                  span.required *
                .col-md-4
                  input#customer_name.form-control(type="text",name="customer_name",onkeyup="validate_entry('customer_name','Please input customer name')")
                  span.help-block
              .form-group
                label.control-label.col-md-4
                  | Customer Email
                  span.required *
                .col-md-4
                  input#customer_email.form-control(type="text",name="customer_email",onkeyup="validate_email('customer_email','Please input valid customer email')")
                  span.help-block
              .form-group
                label.control-label.col-md-4
                  | Customer SAP ID
                .col-md-4
                  input#sap_customer_id.form-control(type="text",name="sap_customer_id")
                  span.help-block
          .modal-footer
            button.btn.green#select_btn(type='button', onclick="create_customer()") Create
            button.btn.dark#close_btn(type='button', data-dismiss='modal') Close  