extends layout

block title_top
  | RFQ - No Bid

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | RFQ No Bid

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-6
      table.table.table-hover.table-striped.table-bordered
        tbody
            tr
              td
                | Document Number
              td= rfq[0].document_no
            tr
              td
                | Version Number
              td= rfq[0].version_no
            tr
              td
                | Project Name
              td= rfq[0].project_name
            tr
              td
                | Sub-Region
              td= rfq[0].sales_hub
            tr
              td
                | Sales Person
              td= rfq[0].sales_person
            tr
              td
                | Sales Segment
              td= rfq[0].sales_segment
            tr
              td
                | Sales Agent
              td= rfq[0].sales_agent_name
            tr
              td
                | Tendering Team
              td= rfq[0].tendering_team
            tr
              td
                | Tendering Team Member
              td= rfq[0].tendering_team_members
            tr
              td
                | Type of Quote
              td= rfq[0].quote_type
            tr
              td
                | Customer Country
              td= rfq[0].customer_country
            tr
              td
                | Installation Country 
              td= rfq[0].installation_country
            tr
              td
                | Date RFQ
              td= rfq[0].date_rfq_in
            tr
              td
                | Requested Quotation Date
              td= rfq[0].requested_quotation_date
            tr
              td
                | Probability
              td= rfq[0].probability_name
            tr
              td
                | Strategic Quote
              td= (rfq[0].strategic_quote == 1)?'Yes':'No'
            tr
  - if (rfq_lines.length > 0)
    .row
      .col-md-12
        table.table.table-hover.table-striped.table-bordered
          thead
            tr
              th
                | Product Line
              th
                | Production Plant
              th
                | Number of Units
              th
                | Requested Delivery Date
          tbody
            - each line_items in rfq_lines
              tr(id='row_line_item_' +line_items.id)
                td= line_items.product_lines_id
                td= line_items.plants_id
                td= line_items.number_of_units
                td= line_items.req_delivery_date
  .portlet.box.green
    .portlet-title
      .caption
        i.fa.fa-reorder
        | Form Actions On Bottom
      .tools
        a.collapse(href='javascript:;')
    .portlet-body.form
      form#no_bid_form.form-horizontal(action='#')
        .form-body
          .form-group
            label.col-md-3.control-label Remarks
            .col-md-4
              select#rejection_remarks_id.form-control(name='rejection_remarks_id', onchange="validate_number('rejection_remarks_id','Please select valid Remark')")
                option(value='0')
                  | Select Remark
                - each remark in rejection_remarks
                  option(value="#{remark.id}")= remark.description
              span.help-block
          .form-group
            label.col-md-3.control-label Estimated Cost
            .col-md-4
              .input-group
                input#estimated_sales_price.form-control(type='Text', placeholder='Estimated Cost', name='estimated_sales_price', onkeyup="validate_number('estimated_sales_price','Please input a valid number')")
                span.help-block
        .form-actions.fluid
          .col-md-offset-3.col-md-9
            a#btn_save.btn.yellow.button-save(href='/users/bid/#{rfq[0].id}', onclick="#")
              | Back
            &nbsp;&nbsp;&nbsp;
            button#btn_close.btn.red(type='button', onclick="close_document(#{rfq[0].id})") Close Document
            &nbsp;&nbsp;&nbsp;
            a.btn.dark(href='/users/') Cancel
