extends layout

block title_top
  | General Product Data

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | General Product Data

block hint
  | 

block page_content
  .row
    .col-md-12
        #form_wizard_1
          .portlet-body.form
            form#rfq_pro_form.form-horizontal(action='#')
              .form-wizard
                .form-body
                  ul.nav.nav-pills.nav-justified.steps
                    li
                      a.step(href='/users/rfq_general_data/'+selected_rfq[0].id)
                        span.number
                          | 1
                        span.desc
                          i.fa.fa-check
                          | Regional & General Data
                    li
                      a.step(href='/users/rfq_product_data/'+selected_rfq[0].id)
                        span.number(style='background: #35aa47; color: #fff;')
                          | 2
                        span.desc
                          i.fa.fa-check
                          | General Product Data
                    li
                      - if (flag_line)
                          a.step(href='/users/rfq_line_items/'+selected_rfq[0].id)
                            span.number
                              | 3
                            span.desc
                              i.fa.fa-check
                              | RFQ Line Items
                        else
                          a.step(href='javascript:;')
                            span.number
                              | 3
                            span.desc
                              i.fa.fa-check
                              | RFQ Line Items
                  #bar.progress.progress-striped(role='progressbar')
                    .progress-bar.progress-bar-success(style='width: 66%;')
                  .tab-content
                    .alert.alert-danger.display-none
                      button.close(data-dismiss='alert')
                      | You have some form errors. Please check below.
                    .alert.alert-success.display-none
                      button.close(data-dismiss='alert')
                      | Your form validation is successful!
                    #tab1.tab-pane.active
                      .form-group
                        label.control-label.col-md-3
                          | Tendering Team
                          span.required *
                        .col-md-4
                          select#tendering_teams_id.form-control(name='tendering_teams_id',onchange="fetch_tendering_teams_members()")
                            option(value='0')
                              | Select Tendering Team
                              - each team in tendering_teams
                                option(value="#{team.id}",selected=team.id == selected_rfq[0].tendering_teams_id)= team.name
                          span.help-block
                      .form-group
                        label.control-label.col-md-3
                          | Tendering Team Member
                          span.required *
                        .col-md-4
                          select#tendering_teams_members_id.form-control(name='tendering_teams_members_id', onchange="validate_number('tendering_teams_members_id','Please select valid Tendering team member')")
                            option(value='0')
                              | Select Member
                              - each member in tendering_teams_members
                                option(value="#{member.id}",selected=member.id == selected_rfq[0].tendering_teams_members_id)= member.user_name
                          span.help-blocks
                          input(type='hidden', value='#{selected_rfq[0].rfq_status_id}',id='rfq_stat')
                .form-actions.fluid
                  .row
                    .col-md-12
                      .col-md-offset-3.col-md-9
                        a#btn_save_pro_data.btn.blue.button-next(href='javascript:;', onclick="rfq_pro_save(1,#{selected_rfq[0].id})")
                          | Save for now
                        &nbsp;&nbsp;
                        a#btn_next_pro_data.btn.green.button-submit(href='javascript:;', onclick="rfq_pro_save(2,#{selected_rfq[0].id})")
                          | Save &amp; Next 
                          i.m-icon-swapright.m-icon-white
                        &nbsp;&nbsp;
                        a.btn.dark.button-complete(href='/users/')
                          | Cancel
