form#rfq_line_edit_form.form-horizontal(action='#')
  .row
    .col-md-12
      table.table.table-hover.table-striped.table-bordered
        thead
          tr
            th #
            th Product Design Id
            th Plant Name
            th Material Code
            th Design Version
            th Design Variant
        tbody
          -each design in product_designs
            tr
              td
                input(type='radio', name="product_design", value="#{design.id}")
              td= design.id
              td= design.plant_name
              td= design.material_code
              td= design.design_version
              td= design.design_variant