form.form-horizontal(action='#')
  .row
    .col-md-12
      table.table.table-hover.table-striped.table-bordered
          tr
            th
              | Product Design Id
            th
              | Design Number
            th
              | Design Variant
            th
              | Labor Cost
            th 
              | Labor Hours
            th
              | Material Cost
            th
              | Currency
          -each design in product_designs
            tr
              td= design.id
                input(name='design_id_sel', value='#{design.id}',type='hidden')
              td= design.design_number 
              td= design.design_variant
              td= design.labor_cost
                  input(name='labor_cost', value='#{design.labor_cost}',type='hidden')
              td= design.labor_hours
                  input(name='labor_hours', value='#{design.labor_hours}',type='hidden')
              td= design.material_cost
                  input(name='material_cost', value='#{design.material_cost}',type='hidden')
              td= design.currency
            tr
              th(colspan="2")
                | Minimum Price*
              th
                | Confirm Delivery* (in weeks)
            tr
              td(colspan="2")
                .col-lg-6
                  input#sales_price.form-control.span6(value='',name="sales_price", onchange="validate_number('product_design_details_#{rfq_lines_id} #sales_price','Please select valid Sales Price',1)", readonly)
                  span.help-blocks
                .col-lg-6
                  - if (design.product_design_costs_id != '' && design.product_design_costs_id != null)
                    a.btn.blue.span6(href='#basic',data-toggle='modal',onclick="minimum_price_ui(#{rfq_lines_id},#{product_designs[0].id})") Select Minimum Price
                  - else
                    a.btn.blue.span6.disabled(href='#') Select Minimum Price
                    script.
                      bootbox.alert("Product design cost data is not available for this design for selected quarter.");
              td
                input#weeks_sel.form-control(value='',name="weeks_sel", onkeyup="validate_number('product_design_details_#{rfq_lines_id} #weeks_sel','Please select valid no of weeks',1)")
                span.help-blocks