extends layout

block title_top
  | Finalize Quote

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Finalize Quote

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-6
      table.table.table-bordered
        tr
          th Document Number
          td= rfq[0].document_no
        tr
          th Version Number
          td= rfq[0].version_no
        tr
          th Creation Date
          td= rfq[0].quote_creation_date
  .row  
    .col-md-12
      .portlet.box.grey
        .portlet-title
          .caption
            i.fa.fa-reorder
            | Finalize Quote
        .portlet-body
          form#quote_finalize.form-horizontal(action='#')
            .form-group
              label.control-label.col-md-4
                | Minimum Sales Price
              .col-md-4
                p.form-control-static= rfq[0].minimum_sales_price
            .form-group
              label.control-label.col-md-4
                | Estimated Sales Price
              .col-md-4
                p.form-control-static= rfq[0].estimated_sales_price
            .form-group
              label.control-label.col-md-4
                | Sales Price
                span.required *
              .col-md-4
                input#sales_price.form-control(type="text",name="sales_price",onkeyup="validate_number('sales_price','Please put valid price')", value="#{rfq[0].minimum_sales_price}")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Validity Date
                span.required *
              .col-md-4
                input#quote_validity_date.form-control.date-picker(type="text",name="quote_validity_date",onchange="validate_date('quote_validity_date','Please select valid Date')")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Submission Date
                span.required *
              .col-md-4
                input#quote_submission_date.form-control.date-picker(type="text",name="quote_submission_date",onchange="validate_date('quote_submission_date','Please select valid Date')")
                span.help-block
            .form-group
              label.control-label.col-md-4
                | Probability
                span.required *
              .col-md-4
                select#probability.form-control(name='probability',onchange="check_for_lost()")
                  - each prob in probabilities
                    option(value="#{prob.id}",selected=prob.id == rfq[0].probability_id)= prob.name
                span.help-block
            .form-group#rejection_remarks_div(style=(rfq[0].probability_id == 0)?'':'display:none')
              label.control-label.col-md-4
                | Select Rejection Remark
                span.required *
              .col-md-4
                select#rejection_remarks_id.form-control(name='rejection_remarks_id',onchange="validate_number('rejection_remarks_id','Please select a valid remark')")
                  option(value="0") Select
                  - each remark in rejection_remarks
                    option(value="#{remark.id}")= remark.description
                span.help-block
            .form-group
              label.control-label.col-md-4
                | SIMCO Requested?
                input(type="hidden",value="#{rfq[0].rfq_questions_id}",name="rfq_questions_id")
                span.required *
              .col-md-4(style='margin-top:5px;')
                input(type='radio', name="rfq_questions_value", value='1', checked='true')
                | &nbsp;Yes&nbsp;&nbsp;&nbsp;
                input(type='radio', name="rfq_questions_value", value='0',checked= rfq[0].question_value == 0)
                | &nbsp;No&nbsp;&nbsp;&nbsp;
                input(type='radio', name="rfq_questions_value", value='2',checked= rfq[0].question_value == 2)
                | &nbsp;N/A
                span.help-block
            .form-group
              label.control-label.col-md-4
              .col-md-4
                a.btn.green#finalize_rfq(href='javascript:;', onclick="finalize_rfq(1,#{rfq[0].id})")
                  | Finalize RFQ
                &nbsp;&nbsp;
                a.btn.dark(href='/users/quote_finalize')
                  | Cancel