extends layout

block title_top
  | Quote - Tendering

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Quote - Tendering

block hint
  | 

block doc_ready
  script.
    jQuery(document).ready(function() {
    });

block page_content
  .row
    .col-md-12
      table.table.tablesorter.table-bordered
        thead
          tr
            th
              | Document Number
            th
              | Customer Name
            th
              | RFQ Date
            th
              | Requested Quotation Date
            th
              | Action
        tfoot
          tr
            th
              | Document Number
            th
              | Customer Name
            th
              | RFQ Date
            th
              | Requested Quotation Date
            th
              | Action
          tr
            th.ts-pager.form-horizontal(colspan='8')
              button.btn.first(type='button')
                i.icon-step-backward.glyphicon.glyphicon-step-backward
              button.btn.prev(type='button')
                i.icon-arrow-left.glyphicon.glyphicon-backward
              span.pagedisplay
              button.btn.next(type='button')
                i.icon-arrow-right.glyphicon.glyphicon-forward
              button.btn.last(type='button')
                i.icon-step-forward.glyphicon.glyphicon-step-forward
              select.pagesize(title='Select page size')
                option(selected='selected', value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
              select.pagenum(title='Select page number')
        tbody
          - each rf in rfq
            tr(id = 'tr_#{rf.id}')
              td= rf.document_no
              td= rf.name
              td= rf.date_rfq_in
              td= rf.requested_quotation_date
              td
                a.btn.green(href='/users/tendering_quote/#{rf.id}')
                  | Quote
                &nbsp;&nbsp;&nbsp;
                a.btn.yellow(href='javascript:;', id='revert_#{rf.id}', onclick="revert_to_sales(#{rf.id})")
                  | Revert to Sales